.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2em;
    padding: 0 5%;
}

.navbar ul {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    padding-left: 50px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: var(--font-medium);
}