:root {
  --background: #ffffff;
  --foreground: #171717;
  --font48px: 48px;
  --font32px: 32px;
  --font28px: 28px;
  --font20px: 20px;
  --font18px: 18px;
  --font16px: 16px;
  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;
  
}

body {
  font-family: Montserrat, sans-serif;
}

* {
  margin: 0;
}