.flavorFilter {
  display: flex;
}

.flavorFilter button {
  background-color: #ffff;
  border: 2px solid #f2c43e;
  border-radius: 25px;
  padding: 10px 15px;
  margin-right: 1em;
}

.flavorFilter button:hover {
  background-color: #f2c43e;
}
