.hero-section {
    display: flex;
    padding: 3.5em 0;
    align-items: stretch;
    border-bottom: 1px solid #000;
    gap: 20px;
}

.hero-img {
    flex: 1;
    width: 50%;
    object-fit: cover;
    border-radius: 15px;
}

.hero-info {
    flex: 1;
    padding: 2em 0 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*----Font Size and Weight----*/
.hero-title h2 {
    font-size: 48px;
    font-weight: var(--font-bold);
}

.hero-title p {
    font-size: 28px;
    font-weight: var(--font-bold);
}

.hero-subtitle {
    font-size: 24px;
    font-weight: var(--font-regular);
}

.hero-overview h3 {
    font-size: 28px;
    font-weight: var(--font-bold);
}