.main-container {
  padding: 0 5%;
}

.projects-section {
  padding: 4.6em 0;
}

.section-title {
  font-size: 64px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.filter-container {
  margin-bottom: 2em;
  display: flex;
  gap: 30px;
}

.filter-button {
  font-size: var(--font20px);
  font-weight: var(--font-medium);
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  padding: 0;
}

.filter-button::after {
  content: "";
  position: absolute;
  bottom: -2px;       
  left: 0;
  height: 2px;
  width: 100%;
  color: #6a88b1;
  background: #6a88b1;
  border-radius: 50px;
  transform: scaleX(0);           
  transform-origin: left center;   
  transition: transform 0.2s linear;
}

.filter-button:hover {
  color: #6a88b1;
}

.filter-button:hover::after {
  transform: scaleX(1); 
}

.filter-button.active {
  color: #6a88b1;
}

.filter-button.active::after {
  transform: scaleX(1);
}

/* .project-link {
  text-decoration: none;
  color: #000;
} */
 
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  grid-auto-flow: row;
  gap: 1em;
  padding-top: 1em;
  justify-content: start;
}
