.mainContainer {
  padding: 0 5%;
  margin: 1rem 0 3rem;
}

/*----Section Container----*/
.section-container {
  display: flex;
  margin-top: 4em;
}

.section-title {
  min-width: 25%;
}

.section-title h3 {
  font-size: 28px;
  font-weight: var(--font-bold);
}

.figma {
  width: 100%;
  height: 500px;
  border-radius: 15px;
}

.d-flex {
  display: flex;
  align-items: stretch;
  gap: 1em;
  margin-bottom: 1rem;
}

.width50 {
  width: 50%;
}

.box-right {
  width: 80%;
}

.box-right h4 {
  font-size: 20px;
  font-weight: var(--font-bold);
}

.personaImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 15px;
}
