.mainContainer {
    /* margin: 1em 2em; */
    padding: 0 8%;
}

.projectSection {
    display: flex;
    align-items: center;
    padding: 0 8%;
}

.projectSection img {
    width: 50%;
    height: 100%;
    border-radius: 20px;
}

.projectInfo {
    width: 50%;
    padding: 2em;
}

.projectInfo h2 {
    font-size: var(--font48px);
    font-weight: var(--font-bold);
    margin: 0;
}

.projectInfo h3 {
    font-size: var(--font28px);
    font-weight: var(--font-regular);
    margin: 0;
}

.projectInfo h4 {
    font-size: var(--font20px);
    font-weight: var(--font-bold);
}

.projectInfo p {
    font-size: var(--font16px);
    font-weight: var(--font-regular);
}

.btn {
    border: none;
    background-color: #f6b05f;
    border-radius: 20px;
    padding: 10px 15px;
}

.btn:hover {
    background-color: #f5674d;
    color: #ffff;
}

.flexSection {
    display: flex;
    margin-top: 3.5em;
}

.leftBox {
    width: 60%;
    margin-right: 2rem;
}

.rightBox {
    width: 40%;
}

.bg {
    background-color: rgb(249, 187, 125, 0.282);
    border-radius: 25px;
    padding: 1.5rem;
}

.subSection {
    margin-top: 3.5em;
}

.subContainer {
    display: flex;
    align-items: center;
}

.styleGuideImg {
    width: 55%;
    border-radius: 20px;
}

.infoBox {
    border: 2px solid rgb(249, 187, 125, 0.282);
    border-radius: 20px;
    padding: 2rem;
}

.personaBox {
    display: flex;
    gap: 2em;
}

.persona {
    width: 50%;
}

.persona figcaption {
    color: #f5674d;
}

.personaImg {
    width: 100%;
    border-radius: 20px;
    padding-top: 1em;
}

.columnContainer {
    background-color: rgb(249, 187, 125, 0.282);
    border-radius: 25px;
    padding: 2rem;
}

.workflowImg {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid rgb(249, 187, 125, 0.282);
}

.workflowImg:hover {
    border: 3px solid rgb(249, 187, 125);
}

.brandSection {
    border: 2px solid rgb(249, 187, 125, 0.282);
    border-radius: 20px;
    padding: 2rem;
    margin-top: 3.5em;
    display: flex;
    gap: 2em;
}

.figma {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.solution-box {
    font-size: 8pt;
}

.font-s {
    color: #f5674d;
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1rem;   /* ~gap-4 */
    padding-top: 0.5rem; /* ~pt-2 */
}

.cta-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;                 /* ~gap-2 */
    border: 1px solid #000;      /* ~border border-black */
    border-radius: 25px;      /* ~rounded */
    padding: 0.5rem 1rem;        /* ~px-4 py-2 */
    text-decoration: none;       /* remove underline */
    color: #000;
    transition: background-color 0.2s ease; /* ~transition */
}

.icon24 {
    width: 24px !important; 
    height: 24px !important; 
    object-fit: contain;
    display: inline-block;
}