.mainContainer {
    /* margin: 1em 2em; */
    padding: 0 8%;
}

.projectSection {
    display: flex;
    align-items: center;
}

.projectSection img {
    width: 60%;
    height: 100%;
    border-radius: 20px;
}

.projectInfo {
    width: 40%;
    padding: 2em;
}

.projectInfo h2 {
    font-size: var(--font48px);
    font-weight: var(--font-bold);
    margin: 0;
}

.projectInfo h3 {
    font-size: var(--font28px);
    font-weight: var(--font-regular);
    margin: 0;
}

.projectInfo h4 {
    font-size: var(--font20px);
    font-weight: var(--font-bold);
}

.projectInfo p {
    font-size: var(--font16px);
    font-weight: var(--font-regular);
}

.flexSection {
    display: flex;
    margin-top: 3.5em;
}

.leftBox {
    width: 60%;
    margin-right: 2rem;
}

.rightBox {
    width: 40%;
}

.bg {
    background-color: rgb(249, 187, 125, 0.282);
    border-radius: 25px;
    padding: 1.5rem;
}

.subSection {
    margin-top: 3.5em;
}

.subContainer {
    display: flex;
    align-items: center;
}

.workflowImg {
    width: 100%;
    border-radius: 20px;
}

.styleGuideImg {
    width: 55%;
    border-radius: 20px;
}

.infoBox {
    border: 2px solid #f5674d;
    border-radius: 20px;
    padding: 30px;
}

.personaBox {
    display: flex;
}

.persona {
    width: 50%;
}